body {
    font-size: 20px;
}

h1 {
    font-size: 30px;
}


.webname {
    width: 85%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white;
}

.active {
    color: black;
}

.content-info { 
    background-color: beige;
}


.pig {
    width: 400px; 
    height: 400px; 
    position: relative; 
}

#pig-coin {
    background-color: gold; 
    position: absolute;
}