h1 {
  font-size: 50px;
  color: black;
  text-align: center;
  font-family: arial black;
}

body {
  background-color: white;
}

header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #cccccc;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  margin: 0 auto;
  font-family: arial black;
}

.login{
  font-size: 50px;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
}

#now {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightsteelblue;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  margin: 0 auto;
}

#certi {
  width: 1fr;
  height: 1fr;
  background-color: lightsteelblue;
  margin-top: 50px;
  text-align: center;
}

#done {
  width: 1000px;
  height: 1fr;
  background-color: lightsteelblue;
  font-size: 50px;
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 100% !important;
  height: 1fr;
  background-color: lightsteelblue;
  margin-top: 50px;
  text-align: center;
  font-family: arial black;
}

.mainlogin{
  width: 1000px;
  height: 1fr;
  margin: 0 auto;
  background-color: lightsteelblue;
  margin-top: 50px;
  text-align: center;
  border-radius: 0.5rem;
}

.button {
  width: 200px;
  height: 50px;
  background-color: lightsteelblue;
  margin-top: 100px;
  margin-right: 40px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  float: right;
  font-family: arial black;
}

button {
  width: 200px;
  height: 50px;
  background-color: lightsteelblue;
  margin-top: 100px;
  margin-right: 40px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  float: right;
  border: none;
  font-family: arial black;
}
