.head {
    background-color: lightgray; 
    display: flex; 
    flex-direction: row; 
    padding: 20px;
}

.webname {
    width: 90%; 
    text-align: center;
}

.profile {
    border-radius: 30px; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
.profile-info {
    font-size: 20px;
}
.row {
    padding-top: 20px;
}
label {
    padding-bottom: 10px;
}
footer {
    background-color: gray; 
    position: absolute; 
    bottom: 0; 
    width: 100%;
}
#des {
    height: 100px;
}